@charset "utf-8";
div{
	border: dotted 1px yellow;
}

.root{
	width: 960px;
	margin: 0 auto;
	}

/*TOPO*/	
.topo{
	height: 150px;
	background-color: #455A64;
	}
/*IMAGENS*/
/*TOPO*/
#logo{
	margin: 10px auto;
	}
#curso{
	position: absolute;
	padding-top: 45px;
	right: 20px;
	padding-right: 10px;
	}

/*MENU*/
.nav{
	float:left;
	width:130px;
	}

#menu{
	float:left;
	background: #455A64;
	margin: 0;
	padding: 0;
	width: 12em;
	border: thin 1px #FFC107
	}			

#menu li:hover {
    background-color: #FFC107;
				}
				
#menu li{
	padding: 30px;
	list-style: none;
	border-bottom:thin inset
	}

/*Conteúdo*/

.content{
	float: left;
	width: 700px;
	height: 500px;
	}

/*Lateral Direita*/

.side{
	float:left;
	width:130px;
	height:500px;
	}
	
.footer{	
	clear: both;
	height:150px;
	}

